.body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flexbox;
}

.header-container {
  width: 80vw;
  overflow: hidden;
  margin: auto;
}

#main-header {
  background-color: #333;
  color: whitesmoke;
  top: 0;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

Link:hover {
  stroke: #aaa 5px;
}

#main-nav {
  background-color: #ccc;
  color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#main-nav ul {
  display: flexbox;
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-nav li {
  justify-content: space-around;
  display: inline-flex;
  padding: 5px 3vw;
  cursor: pointer;
  font-size: large;
}

#main-nav li:hover {
  background-color: #aaa;
}

#homepage {
  margin-top: 40vh;
  align-items: center;
}

#user-list {
  margin: 0;
  padding: none;
  border: none;
  display: grid;
  grid-column: 2;
}

.list-card,
.list-card-alt {
  list-style-type: none;
  background-color: rgb(182, 182, 182);
  padding: 1px 8px;
  margin: 10px auto;
  width: 60vw;
  min-height: 20vh;
  min-width: 200px;
  max-width: 500px;
}

.list-card-alt {
  background-color: rgb(88, 88, 88);
  color: whitesmoke;
}

.list-card-img-container {
  max-height: 40vh;
  overflow: hidden;
}

.list-card:hover,
.list-card-alt:hover {
  background-color: gold;
  color: black;
  cursor: pointer;
}

.list-card img,
.list-card-alt img {
  padding: 1% 0;
  max-width: 500px;
  width: 55vw;
}

ul {
  padding: 0;
}

.review {
  list-style-type: none;
  padding: 0 15%;
}

.review img {
  height: 25vh;
}

#review-body {
  text-align: left;
}

.reviews-title-owner {
  display: inline-flex;
  margin: 0 2vw;
}

.review-title {
  flex: 4;
}

.review-owner {
  flex: 1;
}

.reviews-filter-container {
  display: flex;
  justify-content: space-around;
  width: 50vw;
  margin: auto;
}

.reviews-filter-form {
  padding-top: 2vw;
  display: inline-flex;
  justify-content: space-evenly;
}

.vote-buttons-container {
  display: inline;
}

.vote-buttons-container button:hover {
  background-color: rgb(151, 151, 190);
}

.vote-buttons-container button:disabled {
  background-color: orange;
  color: blue;
}

.comments-list {
  list-style-type: none;
  text-align: left;
}

.comment-card {
  background-color: rgb(170, 170, 170);
  padding: 1px 8px;
  margin: 10px auto;
  width: 60%;
  min-width: 200px;
}

.timestamp {
  font-size: x-small;
  margin: 0vh;
  text-align: left;
}

.user-avatar {
  height: 25vh;
  margin: auto;
}

.user-reviews-header,
.user-comments-header {
  border: solid black;
  width: 80vw;
  margin: auto;
}

.user-reviews-list {
  display: flex;
  justify-content: center;
  width: 70vw;
  margin: auto;
}

.comment-form-container textarea {
  width: 70vw;
  min-height: 7vw;
  margin: auto;
}

.page-not-found {
  margin-top: 20vh;
}

.header-container {
  margin-left: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-profile {
  display: flexbox;
  align-items: center;
  float: right;
  width: 15%;
  min-width: 120px;
}

.header-profile button {
  max-height: 20px;
}

.header-spacing {
  width: 5%;
}

.header-profile-avatar {
  border-radius: 50%;
  width: 70px;
}

@media (min-width: 768px) {
  .card-info {
    display: flex;
    justify-content: space-around;
    padding: 0 5vw;
  }
}

.new-review-form {
  display: grid;
  width: 50%;
  margin: auto;
}

.new-review-form input {
  width: 80%;
  margin: auto;
}

.new-review-form {
  margin: 5vh auto 20vh auto;
}

.delete-button {
  background-color: red;
  color: whitesmoke;
  display: block;
  margin: auto;
}
