.body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flexbox;
}

.header-container {
  width: 80%;
  overflow: hidden;
  margin: auto;
}

#main-header {
  background-color: #333;
  color: whitesmoke;
  position: sticky;
  top: -15px;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#main-nav {
  background-color: #ccc;
  color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
}

#main-nav ul {
  display: flexbox;
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-nav li {
  justify-content: space-around;
  display: inline-flex;
  padding: 5px 3vw;
  cursor: pointer;
  font-size: large;
}

#main-nav li:hover {
  background-color: #aaa;
}

#homepage {
  margin-top: 40vh;
  align-items: center;
}

#user-list {
  margin: 0;
  padding: none;
  border: none;
  display: grid;
  grid-column: 2;
}
.user-card {
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 40%;
}

.user-card:hover {
  background-color: #bbb;
}

.user-card img {
  width: 100px;
}

ul {
  padding: 0;
}
