.body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
}

.header-container {
  width: 80%;
  overflow: hidden;
  margin: auto;
}

#main-header {
  background-color: #333;
  color: whitesmoke;
  top: 0;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#main-nav {
  background-color: #ccc;
  color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#main-nav ul {
  display: flexbox;
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-nav li {
  justify-content: space-around;
  display: inline-flex;
  padding: 5px 3vw;
  cursor: pointer;
  font-size: large;
}

#main-nav li:hover {
  background-color: #aaa;
}
