.body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flexbox;
}

.header-container {
  width: 80%;
  overflow: hidden;
  margin: auto;
}

#main-header {
  background-color: #333;
  color: whitesmoke;
  /* position: sticky;
  height: 20vh; */
  top: 0;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

Link:hover {
  stroke: #aaa 5px;
}

#main-nav {
  background-color: #ccc;
  color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#main-nav ul {
  display: flexbox;
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-nav li {
  justify-content: space-around;
  display: inline-flex;
  padding: 5px 3vw;
  cursor: pointer;
  font-size: large;
}

#main-nav li:hover {
  background-color: #aaa;
}

#homepage {
  margin-top: 40vh;
  align-items: center;
}

#user-list {
  margin: 0;
  padding: none;
  border: none;
  display: grid;
  grid-column: 2;
}

.list-card {
  list-style-type: none;
  background-color: rgb(170, 170, 170);
  padding: 1px 8px;
  margin: 10px auto;
  width: 60vw;
  min-height: 20vh;
  min-width: 200px;
  max-width: 600px;
}

.list-card-img-container {
  max-height: 40vh;
  overflow: hidden;
}

.list-card:hover {
  background-color: #bbb;
  cursor: pointer;
}

.list-card img {
  padding: 1% 0;
  max-width: 600px;
  width: 55vw;
}

ul {
  padding: 0;
}

.review {
  list-style-type: none;
  padding: 0 15%;
}

.review img {
  height: 25vh;
}

#review-body {
  text-align: left;
}

.review-info {
  display: flex;
  justify-content: space-around;
  padding: 0 40px;
}

.vote-buttons-container {
  display: inline;
}

.vote-buttons-container button:hover {
  background-color: rgb(151, 151, 190);
}

.vote-buttons-container button:disabled {
  background-color: orange;
  color: blue;
}

.comments-list {
  list-style-type: none;
  text-align: left;
}

.comment-card {
  background-color: rgb(170, 170, 170);
  padding: 1px 8px;
  margin: 10px auto;
  width: 60%;
  min-width: 200px;
}

.comment-card img {
}

.timestamp {
  font-size: x-small;
  margin: 0vh;
  text-align: left;
}

.reviews-title-owner {
  display: inline-flex;
  margin: 0 2vw;
}

.reviews-filter-form {
  display: inline-flex;
  justify-content: space-evenly;
}
